body { color:blue; 
           font-family: Arial, Helvetica, sans-serif; font-size: 12pt; text-indent: 1%;
           list-style:inside;
           background-image:url('https://media2.giphy.com/media/4OV1bLOIWwIXRxpXlN/200w.webp?cid=ecf05e47f9nudmw6jgw6bqnxtl8ws5h1xezihy6yjvyvnx0u&rid=200w.webp&ct=g');
           background-position: auto ;
           background-repeat: no-repeat;
           background-size: cover;
         }